includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
        - npcink-ad.php
        - uninstall.php
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    excludePaths:
        analyse:
            - vendor (?)
            - node_modules (?)
            - build (?)
            - dist (?)
    treatPhpDocTypesAsCertain: false
